In [1]:
import numpy as np

### Q1. Write code to create a 4x3 matrix with values ranging from 2 to 13.

In [2]:
arr = np.random.randint(2,13, size=(4,3))
arr

array([[ 6,  7, 12],
       [ 8,  9, 11],
       [ 5, 12, 10],
       [ 8, 12,  5]], dtype=int32)

### Q2. Write code to replace the odd numbers by -1 in the array created by using random.randint( 1 , 50,20)

In [6]:
arr = np.random.randint(1,50,20)
arr[arr % 2 != 0] = -1
arr

array([26, -1, -1, -1, -1, 28, -1, 26, -1, -1, -1, 34, -1, 44, 30, 20, 26,
       -1, 32, -1], dtype=int32)

### Q3. Perform the following operations on an array of mobile phones prices 6999, 7500, 11999, 27899, 14999, 9999.

### a. Create a 1d-array of mobile phones prices

In [8]:
prices = np.array([6999,7500,11999,27899,14999,9999])
prices

array([ 6999,  7500, 11999, 27899, 14999,  9999])

###  b. Convert this array to float type

In [9]:
prices = prices.astype(float)
prices

array([ 6999.,  7500., 11999., 27899., 14999.,  9999.])

### c. Append a new mobile having price of 13999 Rs. to this array

In [15]:
prices = np.append(prices, 13999)
prices

array([ 6999.,  7500., 11999., 27899., 14999.,  9999., 13999.])

### d. Reverse this array of mobile phones prices

In [19]:
rev = prices[::-1]
rev

array([13999.,  9999., 14999., 27899., 11999.,  7500.,  6999.])

### e. Apply GST of 18% on mobile phones prices and update this array.

In [20]:
GST = prices * 0.18
GST

array([1259.82, 1350.  , 2159.82, 5021.82, 2699.82, 1799.82, 2519.82])

### f. Sort the array in descending order of price

In [21]:
desc = np.sort(prices)[::-1]
desc

array([27899., 14999., 13999., 11999.,  9999.,  7500.,  6999.])

### g. What is the average mobile phone price

In [22]:
mean = np.mean(prices)
mean

np.float64(13342.0)

### h. What is the difference b/w maximum and minimum price

In [23]:
price_diff = np.max(prices) - np.min(prices)
price_diff

np.float64(20900.0)

### Q4. Find out the indices of non zero element in given array [1,2,0,0,4,0]

In [24]:
arr = np.array([1,2,0,0,4,0])
indices = np.nonzero(arr)
indices

(array([0, 1, 4]),)